// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//共通



//top
.top-title{
    color: paleturquoise;
}

.top-content{
    color: paleturquoise;
}

h1,h2{
    margin: 0 0;
}

.top-body{
    height: 520px;
    background-image: url(/image/people-2557396_1920.jpg);
    background-size: cover;
}

//about




