// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//show

.user_image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    Border-radius:50%;
}


